<h1>
  Editando Servidor
  <span>
    <%= @server.server_and_port %>
  </span>
</h1>

<%= render 'form' %>

<%= link_to 'Volver al servidor', @server %> |
<%= link_to 'Volver al listado de servidores', servers_path %>
